# Production application.
LIGHTTASK_CONFIG__DB__PASSWORD=change_me_db_password
LIGHTTASK_CONFIG__QUEUE__USER=lighttask
LIGHTTASK_CONFIG__QUEUE__PASSWORD=change_me_rabbitmq_password
LIGHTTASK_CONFIG__QUEUE__VIRTUAL_HOST=kantano

LIGHTTASK_CONFIG__CACHE__ENABLED=true
LIGHTTASK_CONFIG__CACHE__TTL_SECONDS=60
LIGHTTASK_CONFIG__CACHE__MAX_VALUE_BYTES=524288
LIGHTTASK_CONFIG__CACHE__SOCKET_TIMEOUT_SECONDS=0.2

LIGHTTASK_CONFIG__S3__BACKEND=s3
LIGHTTASK_CONFIG__S3__ACCESS_KEY=change_me_s3_access_key
LIGHTTASK_CONFIG__S3__SECRET_KEY=change_me_s3_secret_key
LIGHTTASK_CONFIG__S3__BUCKET_NAME=change_me_s3_bucket
LIGHTTASK_CONFIG__S3__ENDPOINT_URL=https://s3.ru1.storage.beget.cloud
LIGHTTASK_CONFIG__S3__REGION_NAME=ru1

LIGHTTASK_CONFIG__YANDEX__CLIENT_ID=change_me_yandex_client_id
LIGHTTASK_CONFIG__YANDEX__CLIENT_SECRET=change_me_yandex_client_secret
LIGHTTASK_CONFIG__YANDEX__REDIRECT_URI=https://kantano.ru/api/auth/yandex/callback
LIGHTTASK_CONFIG__FRONTEND__BASE_URL=https://kantano.ru

LIGHTTASK_CONFIG__EMAIL__PROVIDER=resend
LIGHTTASK_CONFIG__RESEND__API_KEY=change_me_resend_api_key
LIGHTTASK_CONFIG__RESEND__BASE_URL=https://api.resend.com
LIGHTTASK_CONFIG__RESEND__FROM_EMAIL=no-reply@kantano.ru
LIGHTTASK_CONFIG__RESEND__FROM_NAME=Kantano

LIGHTTASK_CONFIG__OBSERVABILITY__SENTRY_DSN=change_me_sentry_dsn
LIGHTTASK_CONFIG__OBSERVABILITY__SAMPLING_RATE=1.0
