# Production Compose.

LIGHTTASK_CONFIG__DB__PASSWORD=change_me_db_password
LIGHTTASK_CONFIG__QUEUE__USER=lighttask
LIGHTTASK_CONFIG__QUEUE__PASSWORD=change_me_rabbitmq_password
LIGHTTASK_CONFIG__QUEUE__VIRTUAL_HOST=kantano
POSTGRES_MONITOR_PASSWORD=change_me_monitoring_password

IMAGE_REPO_OWNER=your_ghcr_owner
IMAGE_TAG=main
